body{
    box-sizing: border-box;
}
.celular{
    margin: auto;
    height: 500px;
    width: 300px;
    background: black;
    border-radius: 9px;
    padding: 10px;
}
.pantalla{
    margin: auto;
    margin-top: 20px;
    width: 85%;
    height: 85%;
    background: #aaa;
}
.scroll{
    overflow: scroll;
    overflow-x: hidden;
}
.texto{
    padding: 10px;
}
.botonInfo{
    position: relative;
    top: 20px;
    display: block;
    width: 100px;
    margin:auto;
    margin-bottom: 50px;
    padding: 8px;
    background:#5cc;
    outline: none;
}
.btnEncendido{
    background: #444;
    outline: none;
    display: block;
    margin-left: 250px;
    width: 40px;
}
.pantallaApagada{
    background: #444;
}